@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-image: url(./assets/image.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}